---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Halloween Challenges">
  <main class="mx-auto max-w-screen-lg p-4 bg-white min-h-screen">
    <h1 class="text-4xl font-bold text-foreground">Halloween Challenges</h1>
  </main>
</Layout>
